@import url(reset.css);
@import url(styles/header.css);
@import url(styles/card.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/destaques.css);
@import url(styles/contato.css);
@import url(styles/rodape.css);


:root {
    --cor-de-fundo: #FFCFD9;
    --cor-cabecalho: #c26a61;
    /* --cor-cabecalho-projeto-inicial: #fa8072; */
    --preto: #000000;
    --pastel-gradiente: #5F0E0E;
    --cor-botao: #792926;
    --branco: #FFFFFF;
    --fonte-cabecalho: "labrada";
    --branco: #FFFFFF;
    --vermelho-escuro: #8B0000;
    --vermelho-claro: #ff0000;
    --cinza: #858585;
    --marron: #381614;
    --cor-destaque: #d8d9f1;
    --fonte-lista-menu: 'Mulish';
    --fonte-card: 'Cabin-condensed';
    
}

body {
    background-color: var(--cor-de-fundo);
}

hr {
    margin: 0 0.2em;
}