@import url(styles/header.css);
@import url(reset.css);



:root {
    --cor-de-fundo: #FFCFD9;
    --cor-cabecalho: #c26a61;
    /* --cor-cabecalho-projeto-inicial: #fa8072; */
    --preto: #000000;
    --pastel-gradiente: 5F0E0E;
    --cor-botao: #792926;
    --branco: #FFFFFF;
    --fonte-cabecalho: "labrada";
    --branco: #FFFFFF;
    --fonte-lista-menu: Mulish;
    
}

body {
    background-color: var(--cor-de-fundo);
}