.banner {
    margin: 0.2em;
    text-align: center;
    border: 1px solid var(--preto);
    border-radius: 0.5em;
}

.banner__titulo {
    font-family: var(--fonte-lista-menu);
    font-size: 18px;
    font-weight: 700;
}

.banner__texto, .banner__descricao {
    font-family: var(--fonte-lista-menu);
    font-size: 14px;
    font-weight: 500;
}

.banner__imagem {
    max-width: 100%;
}