.carrossel {
    margin: 0.2em;
    border-radius: 0.2px;
}

.carrossel__titulo {
    color: var(--branco);
    background-color: var(--marron);
    text-align: center;
    font-family: var(--fonte-lista-menu);
    font-size: 16px;
    font-weight: 500;
    margin-top: 0.5em;
    padding: 1em 0 0.5em 0;
}

.swiper-slide {
    text-align: center;
}

.swiper-container img {
    width: 70%;
    height: 320px;
    margin-top: 2em;   
}

.swiper-container {
    background-color: var(--cor-de-fundo);
    width: 100vw;
    height: 100%;
    padding-bottom: 1em;
}

.swiper-titulo {
    font-family: var(--fonte-lista-menu);
    font-size: 14px;
    font-weight: 900;
    color: var(--preto);
    padding: 0.8em 1.8em;
}

.swiper-texto {
    font-family: var(--fonte-lista-menu);
    font-size: 12px;
    font-weight: 700;
    padding: 0.5em 1em 0.5em 5em;
    margin-bottom: 1em;
    width: 70%;
}

.swiper__link {
    background-color: var(--marron);
    color: var(--branco);
    padding: 0.3em;
    border-radius: 0.3em;
    margin: 1em 0.5em;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.swiper-pagination-bullet {
    background-color: var(--cor-cabecalho);
}

.divisao__carrossel {
    margin: 0.8em 0.2em;
    background: var(--cor-cabecalho);
}


@media screen and (min-width: 1024px) {
    .swiper-container {
        width: 60%;
        height: 100%;
        align-items: center;
        border: 1px solid;
        margin: auto;
        padding: 1em;
    }

        
    .swiper-texto {
        padding: 0 1em;
        margin-top: 1em;
        width: auto;
        height: 90px;
        font-size: 14px;
    }

    .swiper-titulo {
        font-size: 16px;
        width: 70%;
        height: 30px;
        margin: auto;
        max-width: 100%;
    }
    
    .swiper__link {
        font-size: 18px;        
    }
}

@media screen and (min-width:1728px) {
   
    

    


}