.destaques {
    text-align: center;
    font-family: var(--fonte-lista-menu);
}

.destaques__titulo {
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
    color: var(--marron);
    background: var(--cor-destaque);
    margin-top: 0.8em;
    
}


.container__destaques__secoes {
    background-color: var(--branco);
    border: 1px dashed var(--cor-cabecalho);
    border-radius: 0.5em;
    width: auto;
    height: max-content;
    text-align: center;
    justify-content: center;
    margin: 0 2em 1.5em 2em;
    padding: 0 0.2em;
    
}

.container__destaques__titulo {
    display: inline-block;
    color: var(--marron);
    font-size: 16px;
    font-weight: 800;
    background-color: var(--cor-destaque);
    margin: 0.5em;
    white-space: nowrap;
}

.container__destaque__imagem {
    width: 150px;
    height: 150px;
    margin-top: 0.5em;
}

.container__destaque {
    align-items: center;
}


.titulo__produto {
    font-size: 16px;
    font-weight: 700;
    color: var(--preto);
    margin-top: 0.5em;
}

.valor {
    margin-top: 0.5em;
}

.valor__atual {
    color: var(--preto);
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 0.5em;
}

.valor, .valor__desconto {
    color: var(--vermelho-claro);
    font-weight: 600;
}

.valor__desconto {
    padding: 0.5em 0;
}

