.cabecalho {
    display: flex;
    background-color: var(--cor-cabecalho);
    text-align: center;    
    max-width:100vh;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 0.8em 0.8em 0;
    height: 25px;
    
    
}

.container {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content:space-between;
    position: relative;
}

.cabecalho__menu-hamburguer {
    width: 42px;
    height: 42px;
    background-image: url("../img/Menu.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;
}


.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5em;   
}
.container__pesquisa {
    width: 35px;
    height: 35px;
    background: url(../img/lupa.png) no-repeat right;
    border: var(--branco);
    position: relative;
     color: transparent; /*Para deixar o texto transparente ao ficar fora do :focus sem usar javascript */
        
}

.container__pesquisa::placeholder {
    color: transparent;
}

.container__pesquisa:focus::placeholder {
    font-family: var(--fonte-lista-menu);
    font-size: 15px;
    font-weight: 700;
    color: var(--preto);
    max-width: 100%;
    text-align: center;   
}

.container__pesquisa:focus {
    width: 380px;
    max-width: 80vh;
    margin-left: 0.3em;
    border-bottom: solid 1px var(--cor-cabecalho);
    background-color: var(--cor-de-fundo);
    position: absolute;
    color: var(--preto);
}

.container__titulo {
    display: block;
    background-color: var(--cor-cabecalho);
    font-size: 20px;
    font-family: var(--fonte-lista-menu);
    font-weight: 700;
    white-space: nowrap;
}

.container__link {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container__link__imagem {
    width: 35px;
    height: 35px;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--cor-cabecalho);
    padding: 10px 0;
    text-align: left; 
    cursor: pointer;
    
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0.8em;
}

.lista-menu__subtitulo {
    padding-top: 0.8em;
}

.botao__menu {
    display: inline-block;
    padding: 6px 24px;
    font-family: var(--fonte-lista-menu);
    background-color: var(--cor-botao);
    color: var(--preto);
    font-weight: 500;
    text-decoration: none;
}

.lista-menu, .lista-menu__link {
    font-family: var(--fonte-lista-menu);
}

.lista-menu__item {
    display: flex;
    align-items: center;
    text-align: center;
}

.lista-menu__link {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: var(--preto);
    text-decoration: none;
    margin: 1em 0 1em 0;
}

.lista-menu__login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.lista-menu__subtitulo, .lista-menu__cadastro {
    text-align: center;
}

.lista-menu__imagem {
    width: 28px;
    height: 28px;
    padding: 0.5em
}

.container__botao {
    display: none;
}