.cabecalho {
    display: flex;
    background-color: var(--cor-cabecalho);
    text-align: center;    
    max-width:100vh;
    justify-content: space-between;
    align-items: center;
    /* border: 0.8em solid var(--cor-cabecalho); */
    padding: 0.8em 0.8em 0.8em 0;
    height: 25px;
    
    
}

.container {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content:space-between;
    position: relative;
}

.cabecalho__menu-hamburguer {
    width: 42px;
    height: 42px;
    background-image: url("../img/Menu.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;
}

.container__pesquisa {
    width: 35px;
    height: 35px;
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.3em;
    
}

.container__titulo {
    background-color: var(--cor-cabecalho);
    font-size: 20px;
    font-family: var(--fonte);
    font-weight: 700;
    white-space: nowrap;
}

.container__link {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container__link__imagem {
    width: 35px;
    height: 35px;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 90%;
    height: 100vh;
    background-color: var(--cor-cabecalho);
    padding: 10px 0;
    z-index: 99999;
    text-align: left; /* Alinha os itens da lista à esquerda */
    
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.botao__menu {
    background: var(--cor-botao);
    color: var(--preto);
    border-color: var(--preto);
    width: 100px;
    border-radius: 0.2em;
    padding: 0.2em;
    margin: 1em;
}

.lista-menu, .lista-menu__link {
    font-family: var(--fonte-lista-menu);
}

.lista-menu__item {
    display: flex;
    align-items: center;
}

.lista-menu__link {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: var(--preto);
    text-decoration: none;
    /* padding: 1em; */
    margin: 1em 0 1em 0;
}

.lista-menu__login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.lista-menu__subtitulo, .lista-menu__cadastro {
    text-align: center;
}

.botao__menu {
    color: var(--preto);
}

.lista-menu__imagem {
    width: 28px;
    height: 28px;
    padding: 0.5em
}