.cabecalho__usuario {
    padding: 0.5em;
    align-items: center;
    display: flex;
}

.titulo__pagina__usuario {
    font-family: var(--fonte-lista-menu);
    font-size: 20px;
    font-weight: 600;
}

.botaoDeslogar {
    width: 25px;
    height: 25px;
    margin-left: auto;
}

button {
    font-family: var(--fonte-lista-menu);
    font-size: 18px;
    font-weight: 600;
    color: var(--marron);
    background-color: var(--cor-cabecalho);
    border-radius: 0.2em;
    margin: 1em 0.5em;
}

button:hover {
    background-color: var(--cor-hover);
}

.tabela__usuarios {
    display: none;
}


table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    display: none; /* Oculta o cabeçalho da tabela em dispositivos móveis */
}

tbody, tr, td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid var(--marron);
}

tr {
    margin-bottom: 10px;
    border: none;
}

td {
    display: block;
    padding: 10px;
    text-align: left;
    position: relative;
    background-color: var(--branco);
}

td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 45%; /* Ajuste a largura do rótulo */
    padding-left: 10px;
    font-weight: bold;
    background-color: var(--cor-hover);
    color: var(--marron);
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

td {
    padding-left: 50%; /* Ajusta o espaço para o conteúdo da célula não se sobrepor ao rótulo */
    position: relative;
}

.alterar .deletar {
    margin-left: 0;
    margin-top: 0.5em;
}




@media screen and (min-width: 1024px) {
    .titulo__pagina__usuario {
        font-size: 22px;
        font-weight: 600;
    }
    
    .botaoDeslogar {
        width: 28px;
        height: 28px;
        margin-left: auto;
    }

    table {
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1728px) {
    .titulo__pagina__usuario {
        font-size: 30px;
        font-weight: 600;
    }
    
    .botaoDeslogar {
        width: 40px;
        height: 40px;
        margin-left: auto;
    }
}

