@import url(reset.css);
@import url(header.css);
@import url(card.css);
@import url(banner.css);
@import url(carrossel.css);
@import url(destaques.css);
@import url(contato.css);
@import url(rodape.css);
@import url(busca.css);
@import url(promo.css);
@import url(formularioCadastroLogin.css);
@import url(paginaUsuario.css);
@import url(formCadastroReso.css);




:root {
    --cor-de-fundo: #FFCFD9;
    --cor-cabecalho: #c26a61;
    --cor-hover: #ca9089;
    /* --cor-cabecalho-projeto-inicial: #fa8072; */
    --cor-form: #c09995;
    --preto: #000000;
    --pastel-gradiente: #5F0E0E;
    --cor-botao: #792926;
    --branco: #FFFFFF;
    --fonte-cabecalho: "labrada";
    --vermelho-escuro: #8B0000;
    --vermelho-claro: #ff0000;
    --cinza: #858585;
    --marron: #381614;
    --cor-destaque: #d8d9f1;
    --cor-botao-app: #006158;
    --cor-background-botao: #6bdca8;
    --cor-texto-botao-app: #00b864;
    --cor-hover-botao-app: #1bd37f;
    --cor-hover-input-form: #ebe1e1;
    --cor-botao-form: #dbc4b6;
    --cor-hover-botao-form: #b9937b;
    --cor-link:#0000FF;
    --cor-focus-form: #946f57;
    --fonte-lista-menu: 'Mulish';
    --fonte-card: 'Cabin-condensed';
    --fonte-formulario: 'Inter';
    
}

body {
    background-color: var(--cor-de-fundo);   
}

hr {
    margin: 0 0.2em;
    border: 0;
    height: 2px;
    background: var(--cor-destaque);
}